@font-face {
  font-family: "TelefonicaWeb-Bold";
  src: url("./fonts/TelefonicaWeb-Bold.eot");
  src: url("./fonts/TelefonicaWeb-Bold.eot?iefix") format("eot"), url("./fonts/TelefonicaWeb-Bold.woff") format("woff"), url("./fonts/TelefonicaWeb-Bold.ttf") format("truetype"), url("./fonts/TelefonicaWeb-Bold.svg#webfontZhAFkZ39") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TelefonicaWeb-Regular";
  src: url("./fonts/TelefonicaWeb-Regular.eot");
  src: url("./fonts/TelefonicaWeb-Regular.eot?iefix") format("eot"), url("./fonts/TelefonicaWeb-Regular.woff") format("woff"), url("./fonts/TelefonicaWeb-Regular.ttf") format("truetype"), url("./fonts/TelefonicaWeb-Regular.svg#webfontZhAFkZ39") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TelefonicaWeb-RegularItalic";
  src: url("./fonts/TelefonicaWeb-RegularItalic.eot");
  src: url("./fonts/TelefonicaWeb-RegularItalic.eot?iefix") format("eot"), url("./fonts/TelefonicaWeb-RegularItalic.woff") format("woff"), url("./fonts/TelefonicaWeb-RegularItalic.ttf") format("truetype"), url("./fonts/TelefonicaWeb-RegularItalic.svg#webfontZhAFkZ39") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TelefonicaWeb-Light";
  src: url("./fonts/TelefonicaWeb-Light.eot");
  src: url("./fonts/TelefonicaWeb-Light.eot?iefix") format("eot"), url("./fonts/TelefonicaWeb-Light.woff") format("woff"), url("./fonts/TelefonicaWeb-Light.ttf") format("truetype"), url("./fonts/TelefonicaWeb-Light.svg#webfontZhAFkZ39") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TelefonicaWeb-ExtraLight";
  src: url("./fonts/TelefonicaWeb-ExtraLight.eot");
  src: url("./fonts/TelefonicaWeb-ExtraLight.eot?iefix") format("eot"), url("./fonts/TelefonicaWeb-ExtraLight.woff") format("woff"), url("./fonts/TelefonicaWeb-ExtraLight.ttf") format("truetype"), url("./fonts/TelefonicaWeb-ExtraLight.svg#webfontZhAFkZ39") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TelefonicaWeb-Hand";
  src: url("./fonts/TelefonicaWeb-Hand.eot");
  src: url("./fonts/TelefonicaWeb-Hand.eot?iefix") format("eot"), url("./fonts/TelefonicaWeb-Hand.woff") format("woff"), url("./fonts/TelefonicaWeb-Hand.ttf") format("truetype"), url("./fonts/TelefonicaWeb-Hand.svg#webfontZhAFkZ39") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: TelefonicaWeb-Regular;
  font-size: 14px;
  color: #86888c;
  background: #f3f3f3;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

@font-face {
  font-family: "not_useless_icons";
  src: url("./fonts/not_useless_icons.eot?9j6p3p");
  src: url("./fonts/not_useless_icons.eot?9j6p3p#iefix") format("embedded-opentype"), url("./fonts/not_useless_icons.ttf?9j6p3p") format("truetype"), url("./fonts/not_useless_icons.woff?9j6p3p") format("woff"), url("./fonts/not_useless_icons.svg?9j6p3p#not_useless_icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "not_useless_icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-envelope:before {
  content: "\e910";
}

.icon-icon-world:before {
  content: "\e911";
}

.icon-icon-folder:before {
  content: "\e90f";
}

.icon-icon-check:before {
  content: "\e900";
}

.icon-check:before {
  content: "\e901";
}

.icon-icon-arrow:before {
  content: "\e902";
}

.icon-icon-camera:before {
  content: "\e903";
}

.icon-icon-card:before {
  content: "\e904";
}

.icon-icon-discount:before {
  content: "\e905";
}

.icon-icon-fiber:before {
  content: "\e906";
}

.icon-icon-instalacion:before {
  content: "\e907";
}

.icon-icon-monitor:before {
  content: "\e908";
}

.icon-icon-notebook:before {
  content: "\e909";
}

.icon-icon-phone:before {
  content: "\e90a";
}

.icon-icon-ransom:before {
  content: "\e90b";
}

.icon-icon-router:before {
  content: "\e90c";
}

.icon-icon-screen:before {
  content: "\e90d";
}

.icon-icon-secure:before {
  content: "\e90e";
}

.icon-icon-speed:before {
  content: "\e912";
}

.icon-icon-support:before {
  content: "\e913";
}

.icon-icon-virus:before {
  content: "\e914";
}

.icon-speed:before {
  content: "\e915";
}

.container-cards-v2-2022 {
  display: flex;
}
.container-cards-v2-2022 .card-component-v2-2022 {
  margin: 20px;
  width: 272px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  /************ PORTABILIDAD EQUIPO ****************/
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-header-v2-2022 {
  border-top: 4px solid #0B2739;
  border-radius: 5px 5px 0 0;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-header-v2-2022 .card-component-header-highlight-v2-2022 {
  content: "Oferta destacada";
  position: absolute;
  padding: 7px 25px 6px;
  display: inline-block;
  background: #0B2739;
  border-radius: 0 0 11px 11px;
  margin: auto;
  right: 0px;
  left: 0;
  top: 0px;
  width: max-content;
  z-index: 1;
  font-family: TelefonicaWeb-Bold;
  font-size: 12px;
  line-height: 1;
  color: #fff;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-header-v2-2022 .card-component-header-title-v2-2022 {
  display: flex;
  align-items: center;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-header-v2-2022 .card-component-header-title-v2-2022 .card-component-header-1-subtitle-v2-2022 {
  width: 90%;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-header-v2-2022 .card-component-header-title-v2-2022 .card-component-header-1-subtitle-v2-2022 h5 {
  color: #313235;
  font: 16px TelefonicaWeb-Regular;
  line-height: 1;
  padding: 0 15px;
  margin-bottom: 20px;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-header-v2-2022 .card-component-header-title-v2-2022 .card-component-header-1-subtitle-v2-2022 h5 strong {
  font-family: TelefonicaWeb-Bold;
  display: block;
  font-size: 24px;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-header-v2-2022 .card-component-header-title-v2-2022 .card-component-header-2-subtitle-v2-2022 {
  width: 100%;
  text-align: center;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-header-v2-2022 .card-component-header-title-v2-2022 .card-component-header-2-subtitle-v2-2022 h5 {
  color: #313235;
  font: 16px TelefonicaWeb-Regular;
  padding: 0 15px;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-header-v2-2022 .card-component-header-title-v2-2022 .card-component-header-2-subtitle-v2-2022 h5 strong {
  font-family: TelefonicaWeb-Bold;
  display: block;
  font-size: 24px;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-header-v2-2022 .card-component-header-title-v2-2022 .card-component-header-plan-5g-v2-2022 {
  margin: auto;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-header-v2-2022 .card-component-header-title-v2-2022 .card-component-header-plan-5g-v2-2022 .plan-5g-v2-2022 {
  float: right;
  width: 50px;
  background: #0B2739;
  border-radius: 11.04px 0px 0px 11.04px;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-header-v2-2022 .card-component-header-title-v2-2022 .card-component-header-plan-5g-v2-2022 .plan-5g-v2-2022 .plan-5g-spinner-v2-2022 {
  background: url("./img/5g-spinner-card-v2-2022.svg") no-repeat center center;
  width: 32px;
  height: 32px;
  margin: 8px auto 8px auto;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-header-v2-2022 .card-component-header-title-v2-2022 .card-component-header-plan-5g-v2-2022 .plan-5g-v2-2022 .plan-5g-icon-v2-2022 {
  position: absolute;
  background: url("./img/5g-plan-card-v2-2022.svg");
  width: 24px;
  height: 14px;
  top: 40px;
  right: 12px;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-separate-v2-2022 {
  padding: 0 12px;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-separate-v2-2022 .card-component-separate-line-v2-2022 {
  border-top: solid 1px #CED4D7;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-separate-v2-2022 .card-component-separate-line-strategy-offers-v2-2022 {
  font: 14px TelefonicaWeb-Bold;
  background-color: #E63780;
  color: #fff;
  line-height: 1;
  padding: 4px 6px 4px 6px;
  border-radius: 4px;
  width: fit-content;
  margin: -11px auto;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-body-v2-2022 {
  font-size: 12px;
  padding: 20px 12px 5px 12px;
  text-align: center;
  color: #0B2739;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-body-v2-2022 .price-component-body-v2-2022 {
  height: 8px;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-body-v2-2022 .price-component-body-mount-value-v2-2022 {
  font-family: TelefonicaWeb-Bold;
  font-size: 40px;
  height: 45px;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-body-v2-2022 .price-component-body-mount-value-v2-2022 .price-component-body-currency-v2-2022, .container-cards-v2-2022 .card-component-v2-2022 .card-component-body-v2-2022 .price-component-body-mount-value-v2-2022 .price-component-body-each-v2-2022 {
  font-family: TelefonicaWeb-Regular !important;
  font-style: normal;
  font-size: 20px;
  margin-left: -8px;
  margin-right: -8px;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-body-v2-2022 .btn-component-apply-v2-2022 {
  font: 14px TelefonicaWeb-Regular;
  background: #019DF4;
  color: #fff;
  padding: 12px 0px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 10px auto;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-body-v2-2022 .btn-component-apply-v2-2022:hover {
  background: #0A7AC9;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-body-v2-2022 {
  padding: 0 20px 5px 20px;
  text-align: center;
  display: flex;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-body-v2-2022 .card-port-equipment-body-img-v2-2022 {
  background: url("./img/370x700_xiaomi_redmi_9_grey 1.svg") no-repeat center center;
  width: 90px;
  height: 150px;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-body-v2-2022 .card-port-equipment-body-description-v2-2022 {
  padding: 10px;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-body-v2-2022 .card-port-equipment-body-description-v2-2022 .card-port-equipment-body-description-list-v2-2022 {
  margin: 0;
  padding: 0;
  text-align: left;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-body-v2-2022 .card-port-equipment-body-description-v2-2022 .card-port-equipment-body-description-list-v2-2022 .card-port-equipment-body-description-featured-v2-2022 {
  display: inline-flex;
  margin-right: 5px;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-body-v2-2022 .card-port-equipment-body-description-v2-2022 .card-port-equipment-body-description-list-v2-2022 .card-port-equipment-body-description-featured-v2-2022 i {
  width: 20px;
  height: 12px;
  align-self: center;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-body-v2-2022 .card-port-equipment-body-description-v2-2022 .card-port-equipment-body-description-list-v2-2022 .card-port-equipment-body-description-featured-v2-2022 .icon-card-camera-v2-2022::before {
  content: url("./img/phone-description/camera-description.svg");
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-body-v2-2022 .card-port-equipment-body-description-v2-2022 .card-port-equipment-body-description-list-v2-2022 .card-port-equipment-body-description-featured-v2-2022 .icon-card-pantalla-v2-2022::before {
  content: url("./img/phone-description/pantalla-description.svg");
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-body-v2-2022 .card-port-equipment-body-description-v2-2022 .card-port-equipment-body-description-list-v2-2022 .card-port-equipment-body-description-featured-v2-2022 .icon-card-capacidad-v2-2022::before {
  content: url("./img/phone-description/capacidad-description.svg");
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-body-v2-2022 .card-port-equipment-body-description-v2-2022 .card-port-equipment-body-description-way-pay-v2-2022 {
  padding-top: 30px;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-body-v2-2022 .card-port-equipment-body-description-v2-2022 .card-port-equipment-body-description-way-pay-v2-2022 .card-port-equipment-body-description-pie-v2-2022 {
  font: 16px TelefonicaWeb-Bold;
  color: #313235;
  background: #EBEBEB;
  width: fit-content;
  padding: 2px 6px;
  border-radius: 3px;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-body-v2-2022 .card-port-equipment-body-description-v2-2022 .card-port-equipment-body-description-way-pay-v2-2022 .card-port-equipment-body-description-share-v2-2022 {
  color: #313235;
  width: fit-content;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-separation-plus-v2-2022 .card-port-equipment-separation-line-plus-v2-2022 {
  background: url("./img/separation.svg");
  width: 248px;
  height: 12px;
  margin: auto;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-footer-v2-2022 {
  padding: 12px;
  /*****************************************************************/
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-footer-v2-2022 .lines-port-equipment-v2-2022 {
  font: 14px TelefonicaWeb-Bold;
  background-color: #E63780;
  color: #fff;
  line-height: 1;
  padding: 4px 6px 4px 6px;
  border-radius: 4px;
  text-align: center;
  width: auto;
  margin: auto;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-footer-v2-2022 .card-port-equipment-plan-movil-v2-2022 {
  display: flex;
  align-items: center;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-footer-v2-2022 .card-port-equipment-plan-movil-v2-2022 h5 {
  color: #313235;
  font: 16px TelefonicaWeb-Regular;
  margin: 10px 0;
  width: 90%;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-footer-v2-2022 .card-port-equipment-plan-movil-v2-2022 h5 strong {
  font-family: TelefonicaWeb-Bold;
  display: block;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-footer-v2-2022 .card-port-equipment-plan-movil-v2-2022 .card-port-equipment-plan-movil-price-v2-2022 {
  color: #0B2739;
  text-align: right;
  font-size: 12px;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-footer-v2-2022 .card-port-equipment-plan-movil-v2-2022 .card-port-equipment-plan-movil-price-v2-2022 strong {
  font-family: TelefonicaWeb-Bold;
  font-size: 20px;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-footer-v2-2022 .card-port-equipment-plan-movil-v2-2022 .card-port-equipment-plan-movil-price-v2-2022 .card-port-equipment-plan-movil-price-currency-v2-2022, .container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-footer-v2-2022 .card-port-equipment-plan-movil-v2-2022 .card-port-equipment-plan-movil-price-v2-2022 .card-port-equipment-plan-movil-price-each-v2-2022 {
  font-family: TelefonicaWeb-Regular !important;
  font-style: normal;
  font-size: 12px;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-footer-v2-2022 .card-port-equipment-footer-total-price-v2-2022 {
  color: #0B2739;
  text-align: center;
  margin: 5px 0;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-footer-v2-2022 .card-port-equipment-footer-total-price-v2-2022 span {
  font-family: TelefonicaWeb-Bold;
  margin-right: 5px;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-footer-v2-2022 .card-port-equipment-footer-total-price-v2-2022 strong {
  color: #019DF4;
  font-family: TelefonicaWeb-Bold;
  font-size: 30px;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-footer-v2-2022 .card-port-equipment-footer-total-price-v2-2022 .card-port-equipment-total-price-currency-v2-2022, .container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-footer-v2-2022 .card-port-equipment-footer-total-price-v2-2022 .card-port-equipment-total-price-each-v2-2022 {
  color: #019DF4;
  font-family: TelefonicaWeb-Regular !important;
  font-style: normal;
  font-size: 12px;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-footer-v2-2022 .card-port-equipment-separation-v2-2022 .card-port-equipment-separation-line-v2-2022 {
  border-top: solid 1px #EBEBEB;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-footer-v2-2022 .btn-port-equipment-v2-2022 {
  font: 14px TelefonicaWeb-Regular;
  background: #019DF4;
  color: #fff;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: auto;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-port-equipment-footer-v2-2022 .btn-port-equipment-v2-2022:hover {
  background: #0A7AC9;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-footer-1-v2-2022 .card-component-footer-list-v2-2022 {
  margin: 0;
  padding: 0 0 20px 0;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-footer-1-v2-2022 .card-component-footer-list-v2-2022 .card-component-footer-features-v2-2022 {
  font-size: 14px;
  font-family: TelefonicaWeb-Regular;
  color: #0B2739;
  padding: 10px 12px;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-footer-1-v2-2022 .card-component-footer-list-v2-2022 .card-component-footer-features-v2-2022 strong {
  display: contents;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-footer-1-v2-2022 .card-component-footer-list-v2-2022 .card-component-footer-features-v2-2022 i {
  font-size: 20px;
  width: 20px;
  margin-right: 8px;
  top: 3px;
  position: relative;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-footer-1-v2-2022 .card-component-footer-list-v2-2022 .card-component-footer-features-v2-2022 .icon-card-tooltip-v2-2022::before {
  content: url("./img/ico-card-tooltip.svg");
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-footer-2-v2-2022 .card-component-footer-list-v2-2022 {
  margin: 0;
  padding: 0 0 20px 0;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-footer-2-v2-2022 .card-component-footer-list-v2-2022 .card-component-footer-features-v2-2022 {
  font-size: 14px;
  font-family: TelefonicaWeb-Regular;
  color: #0B2739;
  padding: 10px 12px;
  display: flex;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-footer-2-v2-2022 .card-component-footer-list-v2-2022 .card-component-footer-features-v2-2022 strong {
  display: contents;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-footer-2-v2-2022 .card-component-footer-list-v2-2022 .card-component-footer-features-v2-2022 i {
  font-size: 20px;
  margin-right: 8px;
  margin-left: 5px;
  position: relative;
  align-self: center;
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-footer-2-v2-2022 .card-component-footer-list-v2-2022 .card-component-footer-features-v2-2022 .icon-card-tooltip-v2-2022::before {
  content: url("./img/ico-card-tooltip.svg");
}
.container-cards-v2-2022 .card-component-v2-2022 .card-component-footer-2-v2-2022 .card-component-footer-list-v2-2022 .card-component-footer-features-v2-2022 a {
  color: #019DF4;
  display: contents;
}
.container-cards-v2-2022 .card-component-v2-2022:hover .plan-5g-icon-v2-2022 {
  animation: blink-plan-5g 1s linear;
}
@keyframes blink-plan-5g {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.container-cards-v2-2022 .card-component-v2-2022:hover .plan-5g-spinner-v2-2022 {
  animation: spin-plan-5g 3s linear infinite;
}
@keyframes spin-plan-5g {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
