.container-cards-v2-2022 {
	display: flex;
	& .card-component-v2-2022 {
		margin: 20px;
		width: 272px;
		background: $white;
		border-radius: 10px;
		position: relative;

		& .card-component-header-v2-2022 {
			border-top: 4px solid $darkblue;
			border-radius: 5px 5px 0 0;

			& .card-component-header-highlight-v2-2022{
				content: 'Oferta destacada';
				position: absolute;
				padding: 7px 25px 6px;
				display: inline-block;
				background: $darkblue;
				border-radius: 0 0 11px 11px;
				margin: auto;
				right: 0px;
				left: 0;
				top: 0px;
				width: max-content;
				z-index: 1;
				font-family: $telefonica-bold;
				font-size: 12px;
				line-height: 1;
				color: $white;
			}

			& .card-component-header-title-v2-2022 {
				display: flex;
				align-items: center;
				& .card-component-header-1-subtitle-v2-2022{
					width: 90%;
					& h5{
						color: $gris900;
						font: 16px $telefonica-regular;
						line-height: 1;
						padding: 0 15px;
						margin-bottom: 20px;

						& strong{
							font-family: $telefonica-bold;
							display: block;
							font-size: 24px;
						}
					}
		 	    }

				& .card-component-header-2-subtitle-v2-2022{
					width: 100%;
					text-align: center;

					& h5{
						color: $gris900;
						font: 16px $telefonica-regular;
						padding: 0 15px;

						& strong{
							font-family: $telefonica-bold;
							display: block;
							font-size: 24px;
						}
					}
		 	    }

				& .card-component-header-plan-5g-v2-2022 {
					margin: auto;
					& .plan-5g-v2-2022{
						float: right;
						width: 50px;
						background: $darkblue;
						border-radius: 11.04px 0px 0px 11.04px;

						& .plan-5g-spinner-v2-2022{
							background: $spinner-5g no-repeat center center;
							width: 32px;
							height: 32px;
							margin: 8px auto 8px auto;
						}
						
						
						& .plan-5g-icon-v2-2022{
							position: absolute;
							background: $logo-5g;
							width: 24px;
							height: 14px;
							top: 40px;
							right: 12px;
						}
					}
				}
		    }
		}

		& .card-component-separate-v2-2022{
			padding: 0 12px;
			& .card-component-separate-line-v2-2022{
				border-top: solid 1px $gris100;
			}

			& .card-component-separate-line-strategy-offers-v2-2022 {
				font: 14px $telefonica-bold;
				background-color: $magenta;
				color: $white;
				line-height: 1;
				padding: 4px 6px 4px 6px;
				border-radius: 4px;
				width: fit-content;
				margin: -11px auto;
			}
		}

		& .card-component-body-v2-2022 {
			font-size: 12px;
			padding: 20px 12px 5px 12px;
			text-align: center;
			color: $darkblue;

			& .price-component-body-v2-2022 {
				height: 8px;
			}

			& .price-component-body-mount-value-v2-2022 {
				font-family: $telefonica-bold;
				font-size: 40px;
				height: 45px;

				& .price-component-body-currency-v2-2022, .price-component-body-each-v2-2022 {
					font-family: $telefonica-regular !important;
					font-style: normal;
					font-size: 20px;
					margin-left: -8px;
					margin-right: -8px;
				}
				
			}
			& .btn-component-apply-v2-2022{
				font: 14px $telefonica-regular;
				background: $celeste700;
				color: $white;
				padding: 12px 0px;
				width: 100%;
				height: 40px;
				border: none;
				border-radius: 50px;
				cursor: pointer;
				margin: 10px auto;

				&:hover{
					background: $celeste400;
				}
			}
		}

		/************ PORTABILIDAD EQUIPO ****************/
		& .card-port-equipment-body-v2-2022 {
			
			padding: 0 20px 5px 20px;
			text-align: center;
			display: flex;

			& .card-port-equipment-body-img-v2-2022 {
				background: url('./img/370x700_xiaomi_redmi_9_grey 1.svg') no-repeat center center;
				width: 90px;
				height: 150px;
			}

			& .card-port-equipment-body-description-v2-2022 {
				padding: 10px;
				& .card-port-equipment-body-description-list-v2-2022{
					margin: 0;
					padding: 0;
					text-align: left;
					& .card-port-equipment-body-description-featured-v2-2022{
						display: inline-flex;
						margin-right: 5px;
						& i{
							width: 20px;
							height: 12px;
							align-self: center;
						}

						& .icon-card-camera-v2-2022{
							&::before{
								content: $ico-phone-description-camera;
							}
						}

						& .icon-card-pantalla-v2-2022{
							&::before{
								content: $ico-phone-description-pantalla;
							}
						}

						& .icon-card-capacidad-v2-2022{
							&::before{
								content: $ico-phone-description-capacidad;
							}
						}
					}
				}

				& .card-port-equipment-body-description-way-pay-v2-2022{
					padding-top: 30px;
					& .card-port-equipment-body-description-pie-v2-2022{
						font: 16px $telefonica-bold;
						color: $gris900;
						background: $gris200;
						width: fit-content;
						padding: 2px 6px;
						border-radius: 3px;
					}
					& .card-port-equipment-body-description-share-v2-2022{
						color: $gris900;
						width: fit-content;
					}
				}
		    }
		}

		& .card-port-equipment-separation-plus-v2-2022{
			& .card-port-equipment-separation-line-plus-v2-2022{
				background: $ico-separation;
				width: 248px;
				height: 12px;
				margin: auto;
			}
		}

		& .card-port-equipment-footer-v2-2022{
			padding: 12px;
			& .lines-port-equipment-v2-2022{
				font: 14px TelefonicaWeb-Bold;
				background-color: #E63780;
				color: #fff;
				line-height: 1;
				padding: 4px 6px 4px 6px;
				border-radius: 4px;
				text-align: center;
				width: auto;
				margin: auto;
			}

			& .card-port-equipment-plan-movil-v2-2022 {
				display: flex;
				align-items: center;

			    & h5{
					color: #313235;
					font: 16px $telefonica-regular;
					margin: 10px 0;
					width: 90%;

					& strong{
						font-family: $telefonica-bold;
						display: block;
					}
				}

				& .card-port-equipment-plan-movil-price-v2-2022{
					color: $darkblue;
					text-align: right;
					font-size: 12px;
					& strong{
						font-family: $telefonica-bold;
						font-size: 20px;
					}

					& .card-port-equipment-plan-movil-price-currency-v2-2022, & .card-port-equipment-plan-movil-price-each-v2-2022{
						font-family: $telefonica-regular !important;
						font-style: normal;
						font-size: 12px;
					}
				}
			}

			& .card-port-equipment-footer-total-price-v2-2022{
				color: $darkblue;
				text-align: center;
				margin: 5px 0;

				& span{
					font-family: $telefonica-bold;
					margin-right: 5px;
				}

				& strong{
					color: $celeste700;
					font-family: $telefonica-bold;
					font-size: 30px;
				}

				& .card-port-equipment-total-price-currency-v2-2022, & .card-port-equipment-total-price-each-v2-2022{
					color: $celeste700;
					font-family: $telefonica-regular !important;
					font-style: normal;
					font-size: 12px;
				}
			}


			& .card-port-equipment-separation-v2-2022{
				& .card-port-equipment-separation-line-v2-2022{
					border-top: solid 1px $gris200;
				}
			}

	        /*****************************************************************/

			& .btn-port-equipment-v2-2022{
				font: 14px $telefonica-regular;
				background: #019DF4;
				color: #fff;
				width: 100%;
				height: 40px;
				border: none;
				border-radius: 50px;
				cursor: pointer;
				margin: auto;

				&:hover{
					background: $celeste400;
				}
			}
		}

		& .card-component-footer-1-v2-2022{
			& .card-component-footer-list-v2-2022{
				margin: 0;
				padding: 0 0 20px 0;
				& .card-component-footer-features-v2-2022{
					font-size: 14px;
					font-family: $telefonica-regular;
					color: $darkblue;
					padding: 10px 12px;

					& strong{
						display: contents;
					}

					& i{
						font-size: 20px;
						width: 20px;
						margin-right: 8px;
						top: 3px;
						position: relative;
					}

					& .icon-card-tooltip-v2-2022{
						&::before{
							content: $ico-card-tooltip;
						}
					}

				}	
			}
		}
		& .card-component-footer-2-v2-2022{
			& .card-component-footer-list-v2-2022{
				margin: 0;
				padding: 0 0 20px 0;

				& .card-component-footer-features-v2-2022{
					font-size: 14px;
					font-family: $telefonica-regular;
					color: $darkblue;
					padding: 10px 12px;
					display: flex;

					& strong{
						display: contents;
					}

					& i{
						font-size: 20px;
						margin-right: 8px;
						margin-left: 5px;
						position: relative;
						align-self: center;
					}

					& .icon-card-tooltip-v2-2022{
						&::before{
							content: $ico-card-tooltip;
						}
					}

					& a{
						color: $celeste700;
						display: contents;
					}

					
				}
			}
		}

		

		&:hover .plan-5g-icon-v2-2022{
			animation: blink-plan-5g 1s linear;	
		}

		@keyframes blink-plan-5g {  
			0% { opacity: 1.0; }
			50% { opacity: 0.5; }
			100% { opacity: 1.0; }
		}

		&:hover .plan-5g-spinner-v2-2022{
			animation: spin-plan-5g 3s linear infinite;	
		}

		@keyframes spin-plan-5g {
			0% {
			  transform: rotate(0deg);
			}
		  
			100% {
			  transform: rotate(360deg);
			}
		}
	}
}