/****** PLANES MOVILES *******/

.container-cards-offers {
	display: flex;
	& .card-offers-plans {
		margin: 20px;
		width: 272px;
		background: $white;
		border-radius: 10px;
		position: relative;

		& .card-offers-plans-header {
			display: flex;
			align-items: center;
			border-top: 4px solid $darkblue;
			border-radius: 5px 5px 0 0;

			& .card-offers-plans-header-featured{
				content: 'Oferta destacada';
				position: absolute;
				padding: 7px 25px 6px;
				display: inline-block;
				background: $darkblue;
				border-radius: 0 0 11px 11px;
				margin: auto;
				right: 0px;
				left: 0;
				top: 0px;
				width: max-content;
				z-index: 1;
				font-family: $telefonica-bold;
				font-size: 12px;
				line-height: 1;
				color: $white;
			}

			& .card-offers-plans-header-title {
				width: 90%;

				& h5{
					color: $gris900;
					font: 16px $telefonica-regular;
					line-height: 1;
					padding: 0 15px;

					& strong{
						font-family: $telefonica-bold;
						display: block;
						font-size: 24px;
					}
				}
			}

			& .card-offers-plans-header-plan-5g {
				& .plan-5g{
					float: right;
					width: 50px;
					height: 45px;
					background: $darkblue;
					border-radius: 11.04px 0px 0px 11.04px;

					& .plan-5g-spinner{
						background: $spinner-5g no-repeat center center;
						width: 30px;
						height: 29px;
						margin: 9px auto 8px auto;
					}
					
					
					& .plan-5g-icon{
						position: absolute;
						background: $logo-5g no-repeat center center;
						width: 23px;
						height: 23px;
						top: 40px;
						right: 13px;
					}
				}
		    }
		}

		& .card-offers-plans-separate{
			padding: 0 20px;
			& .card-offers-plans-separate-line{
				border-top: solid 1px $gris100;
			}
		}

		& .card-offers-plans-body {
			
			padding: 20px 20px 5px 10px;
			text-align: center;

			& .lines-offers-plans {
				font: 14px $telefonica-bold;
				background-color: $magenta;
				color: $white;
				line-height: 1;
				padding: 4px 6px 4px 6px;
				border-radius: 4px;
				text-align: center;
				position: absolute;
				width: fit-content;
				margin: auto;
				top: 87px;
				left: 0;
				right: 0;

				
			}

			& .price-offers-plans {
				font: 12px $telefonica-regular;
				color: $gris900;
			}

			& .price-offers-plans-mount-value{
				color: $darkblue;
				font-family: $telefonica-bold;
				font-size: 40px;

				& .price-offers-plans-currency, .price-offers-plans-each{
					font-family: $telefonica-regular !important;
					font-style: normal;
					font-size: 20px;
				}
				
			}
			& .btn-offers-plans-apply{
				font: 14px $telefonica-regular;
				background: $celeste700;
				color: $white;
				padding: 12px 0px;
				width: 100%;
				height: 40px;
				border: none;
				border-radius: 50px;
				cursor: pointer;
				margin: 10px auto;

				&:hover{
					background: $celeste400;
				}
			}
		}

		& .card-offers-plans-footer{
			padding: 10px 0;
			& .card-offers-plans-footer-list{
				margin: 0;
				padding: 0;
				& .card-offers-plans-footer-features{
					font-size: 14px;
					font-family: $telefonica-regular;
					color: $darkblue;
					text-align: left;
					padding: 11px 16px;

					& i{
						width: 20px;
						height: 12px;
						margin-right: 10px;
						align-self: center;
					}

					& .icon-card-navegation{
						&:before{
							content: $ico-card-navigation;
						}
					}

					& .icon-card-discount{
						&:before{
							content: $ico-card-discount;
						}
					}

					& .icon-card-phone{
						&:before{
							content: $ico-card-phone;
						}
					}

					& .icon-card-mail{
						&:before{
							content: $ico-card-mail;
						}
					}

					& .icon-card-roaming{
						&:before{
							content: $ico-card-roaming;
						}
					}

					& .icon-card-tooltip{
						&:before{
							content: $ico-card-tooltip;
						}
					}
				}
			}
		}
		

		&:hover .plan-5g-icon{
			animation: blink-plan-5g 1s linear;	
		}

		@keyframes blink-plan-5g {  
			0% { opacity: 1.0; }
			50% { opacity: 0.5; }
			100% { opacity: 1.0; }
		}

		&:hover .plan-5g-spinner{
			animation: spin-plan-5g 3s linear infinite;	
		}

		@keyframes spin-plan-5g {
			0% {
			  transform: rotate(0deg);
			}
		  
			100% {
			  transform: rotate(360deg);
			}
		}
	}
}

/****** INTERNET EMPRESAS *******/

.container-cards-internet-business {
	display: flex;
	& .card-offers-internet-business {
		margin: 20px;
		width: 272px;
		background: $white;
		border-radius: 10px;
		position: relative;

		& .card-offers-internet-business-header {
			border-top: 4px solid $darkblue;
			border-radius: 5px 5px 0 0;

			& .card-offers-internet-business-header-featured{
				content: 'Oferta destacada';
				position: absolute;
				padding: 7px 25px 6px;
				display: inline-block;
				background: $darkblue;
				border-radius: 0 0 11px 11px;
				margin: auto;
				right: 0px;
				left: 0;
				top: 0px;
				width: max-content;
				z-index: 1;
				font-family: $telefonica-bold;
				font-size: 12px;
				line-height: 1;
				color: $white;
			}

			& .card-offers-internet-business-header-title {
				width: 100%;
				text-align: center;

				& h5{
					color: $gris900;
					font: 16px $telefonica-regular;
					padding: 0 15px;

					& strong{
						font-family: $telefonica-bold;
						display: block;
						font-size: 24px;
					}
				}
			}
		}

		& .card-offers-internet-business-separate{
			padding: 0 20px;
			& .card-offers-internet-business-separate-line{
				border-top: solid 1px $gris100;
			}
		}

		& .card-offers-internet-business-body {
			
			padding: 20px 20px 5px 10px;
			text-align: center;

			& .lines-offers-internet-business {
				font: 14px $telefonica-bold;
				background-color: $magenta;
				color: $white;
				line-height: 1;
				padding: 4px 6px 4px 6px;
				border-radius: 4px;
				text-align: center;
				position: absolute;
				width: fit-content;
				margin: auto;
				top: 97px;
				left: 0;
				right: 0;
			}

			& .price-offers-internet-business {
				font: 12px $telefonica-regular;
				color: $gris900;
			}

			& .price-offers-internet-business-mount-value{
				color: $darkblue;
				font-family: $telefonica-bold;
				font-size: 40px;

				& .price-offers-internet-business-currency, .price-offers-internet-business-each{
					font-family: $telefonica-regular !important;
					font-style: normal;
					font-size: 20px;
				}
				
			}
			& .btn-offers-internet-business-apply{
				font: 14px $telefonica-regular;
				background: $celeste700;
				color: $white;
				padding: 12px 0px;
				width: 100%;
				height: 40px;
				border: none;
				border-radius: 50px;
				cursor: pointer;
				margin: 10px auto;

				&:hover{
					background: $celeste400;
				}
			}
		}

		& .card-offers-internet-business-footer{
			padding: 10px 0;
			& .card-offers-internet-business-footer-list{
				margin: 0;
				padding: 0;
				& .card-offers-internet-business-footer-features{
					font-size: 14px;
					font-family: $telefonica-regular;
					color: $darkblue;
					text-align: left;
					padding: 11px 16px;
					display: flex;

					& i{
						width: 20px;
						height: 12px;
						margin-right: 10px;
						align-self: center;
					}

					& strong{
						display: contents;
					}


					& .icon-card-navegation{
						&:before{
							content: $ico-card-navigation;
						}
					}

					& .icon-card-check{
						&:before{
							content: $ico-card-check;
						}
					}
				}
			}
		}
	}
}

/****** INTERNET DEDICADO *******/

.container-cards-internet-dedicado {
	display: flex;
	& .card-offers-internet-dedicado {
		margin: 20px;
		width: 272px;
		background: $white;
		border-radius: 10px;
		position: relative;

		& .card-offers-internet-dedicado-header {
			border-top: 4px solid $darkblue;
			border-radius: 5px 5px 0 0;

			& .card-offers-internet-dedicado-header-featured{
				content: 'Oferta destacada';
				position: absolute;
				padding: 7px 25px 6px;
				display: inline-block;
				background: $darkblue;
				border-radius: 0 0 11px 11px;
				margin: auto;
				right: 0px;
				left: 0;
				top: 0px;
				width: max-content;
				z-index: 1;
				font-family: $telefonica-bold;
				font-size: 12px;
				line-height: 1;
				color: $white;
			}

			& .card-offers-internet-dedicado-header-title {
				width: 100%;
				text-align: center;

				& h5{
					color: $gris900;
					font: 16px $telefonica-regular;
					padding: 0 15px;

					& strong{
						font-family: $telefonica-bold;
						display: block;
						font-size: 24px;
					}
				}
			}
		}

		& .card-offers-internet-dedicado-separate{
			padding: 0 20px;
			& .card-offers-internet-dedicado-separate-line{
				border-top: solid 1px $gris100;
			}
		}

		& .card-offers-internet-dedicado-body {
			
			padding: 20px 20px 5px 10px;
			text-align: center;

			& .lines-offers-internet-dedicado {
				font: 14px $telefonica-bold;
				background-color: $magenta;
				color: $white;
				line-height: 1;
				padding: 4px 6px 4px 6px;
				border-radius: 4px;
				text-align: center;
				position: absolute;
				width: fit-content;
				margin: auto;
				top: 97px;
				left: 0;
				right: 0;
			}

			& .price-offers-internet-dedicado {
				font: 12px $telefonica-regular;
				color: $gris900;
			}

			& .price-offers-internet-dedicado-mount-value{
				color: $darkblue;
				font-family: $telefonica-bold;
				font-size: 40px;

				& .price-offers-internet-dedicado-currency, .price-offers-internet-dedicado-each{
					font-family: $telefonica-regular !important;
					font-style: normal;
					font-size: 20px;
				}
				
			}
			& .btn-offers-internet-dedicado-apply{
				font: 14px $telefonica-regular;
				background: $celeste700;
				color: $white;
				padding: 12px 0px;
				width: 100%;
				height: 40px;
				border: none;
				border-radius: 50px;
				cursor: pointer;
				margin: 10px auto;

				&:hover{
					background: $celeste400;
				}
			}
		}

		& .card-offers-internet-dedicado-footer{
			padding: 10px 0;
			& .card-offers-internet-dedicado-footer-list{
				margin: 0;
				padding: 0;
				& .card-offers-internet-dedicado-footer-features{
					font-size: 14px;
					font-family: $telefonica-regular;
					color: $darkblue;
					text-align: left;
					padding: 11px 16px;
					display: flex;

					& i{
						width: 20px;
						height: 12px;
						margin-right: 10px;
						align-self: center;
					}

					& strong{
						display: contents;
					}

					& .icon-card-check{
						&:before{
							content: $ico-card-check;
						}
					}

					& .icon-card-phone{
						&:before{
							content: $ico-card-phone;
						}
					}

					& .icon-card-mail{
						&:before{
							content: $ico-card-mail;
						}
					}

					& .icon-card-roaming{
						&:before{
							content: $ico-card-roaming;
						}
					}

					& .icon-card-tv{
						&:before{
							content: $ico-card-tv;
						}
					}
				}
			}
		}
	}
}


/****** WIFI MOVIL *******/

.container-cards-wifi-movil {
	display: flex;
	& .card-offers-wifi-movil {
		margin: 20px;
		width: 272px;
		background: $white;
		border-radius: 10px;
		position: relative;

		& .card-offers-wifi-movil-header {
			border-top: 4px solid $darkblue;
			border-radius: 5px 5px 0 0;

			& .card-offers-wifi-movil-header-featured{
				content: 'Oferta destacada';
				position: absolute;
				padding: 7px 25px 6px;
				display: inline-block;
				background: $darkblue;
				border-radius: 0 0 11px 11px;
				margin: auto;
				right: 0px;
				left: 0;
				top: 0px;
				width: max-content;
				z-index: 1;
				font-family: $telefonica-bold;
				font-size: 12px;
				line-height: 1;
				color: $white;
			}

			& .card-offers-wifi-movil-header-title {
				width: 100%;
				text-align: center;

				& h5{
					color: $gris900;
					font: 16px $telefonica-regular;
					padding: 0 15px;

					& strong{
						font-family: $telefonica-bold;
						display: block;
						font-size: 24px;
					}
				}
			}
		}

		& .card-offers-wifi-movil-separate{
			padding: 0 20px;
			& .card-offers-wifi-movil-separate-line{
				border-top: solid 1px $gris100;
			}
		}

		& .card-offers-wifi-movil-body {
			
			padding: 20px 20px 5px 10px;
			text-align: center;

			& .lines-offers-wifi-movil {
				background-color: $magenta;
				color: $white;
				line-height: 1;
				padding: 4px 6px 4px 6px;
				border-radius: 4px;
				text-align: center;
				position: absolute;
				width: fit-content;
				margin: auto;
				top: 97px;
				left: 0;
				right: 0;
			}

			& .price-offers-wifi-movil {
				font: 12px $telefonica-regular;
				color: $gris900;
			}

			& .price-offers-wifi-movil-mount-value{
				color: $darkblue;
				font-family: $telefonica-bold;
				font-size: 40px;

				& .price-offers-wifi-movil-currency, .price-offers-wifi-movil-each{
					font-family: $telefonica-regular !important;
					font-style: normal;
					font-size: 20px;
				}
				
			}
			& .btn-offers-wifi-movil-apply{
				font: 14px $telefonica-regular;
				background: $celeste700;
				color: $white;
				padding: 12px 0px;
				width: 100%;
				height: 40px;
				border: none;
				border-radius: 50px;
				cursor: pointer;
				margin: 10px auto;

				&:hover{
					background: $celeste400;
				}
			}
		}

		& .card-offers-wifi-movil-footer{
			padding: 10px 0;
			& .card-offers-wifi-movil-footer-list{
				margin: 0;
				padding: 0;
				& .card-offers-wifi-movil-footer-features{
					font-size: 14px;
					font-family: $telefonica-regular;
					color: $darkblue;
					text-align: left;
					padding: 11px 16px;
					display: flex;

					& i{
						width: 20px;
						height: 12px;
						margin-right: 10px;
						align-self: center;
					}

					& strong{
						display: contents;
					}

					& .icon-card-navegation{
						&:before{
							content: $ico-card-navigation;
						}
					}

					& .icon-card-discount{
						&:before{
							content: $ico-card-discount;
						}
					}
				}
			}
		}
	}
}

/****** PACKS DUOS *******/

.container-cards-packs-duos {
	display: flex;
	& .card-offers-packs-duos {
		margin: 20px;
		width: 272px;
		background: $white;
		border-radius: 10px;
		position: relative;

		& .card-offers-packs-duos-header {
			border-top: 4px solid $darkblue;
			border-radius: 5px 5px 0 0;

			& .card-offers-packs-duos-header-featured{
				content: 'Oferta destacada';
				position: absolute;
				padding: 7px 25px 6px;
				display: inline-block;
				background: $darkblue;
				border-radius: 0 0 11px 11px;
				margin: auto;
				right: 0px;
				left: 0;
				top: 0px;
				width: max-content;
				z-index: 1;
				font-family: $telefonica-bold;
				font-size: 12px;
				line-height: 1;
				color: $white;
			}

			& .card-offers-packs-duos-header-title {
				width: 100%;
				text-align: center;

				& h5{
					color: $gris900;
					font: 16px $telefonica-regular;
					padding: 0 15px;

					& strong{
						font-family: $telefonica-bold;
						display: block;
						font-size: 20px;
					}
				}
			}
		}

		& .card-offers-packs-duos-separate{
			padding: 0 20px;
			& .card-offers-packs-duos-separate-line{
				border-top: solid 1px $gris100;
			}
		}

		& .card-offers-packs-duos-body {
			
			padding: 20px 20px 5px 10px;
			text-align: center;

			& .lines-offers-packs-duos {
				font: 14px $telefonica-bold;
				background-color: $magenta;
				color: $white;
				line-height: 1;
				padding: 4px 6px 4px 6px;
				border-radius: 4px;
				text-align: center;
				position: absolute;
				width: fit-content;
				margin: auto;
				top: 116px;
				left: 0;
				right: 0;
			}

			& .price-offers-packs-duos {
				font: 12px $telefonica-regular;
				color: $gris900;
			}

			& .price-offers-packs-duos-mount-value{
				color: $darkblue;
				font-family: $telefonica-bold;
				font-size: 40px;

				& .price-offers-packs-duos-currency, .price-offers-packs-duos-each{
					font-family: $telefonica-regular !important;
					font-style: normal;
					font-size: 20px;
				}
				
			}
			& .btn-offers-packs-duos-apply{
				font: 14px $telefonica-regular;
				background: $celeste700;
				color: $white;
				padding: 12px 0px;
				width: 100%;
				height: 40px;
				border: none;
				border-radius: 50px;
				cursor: pointer;
				margin: 10px auto;

				&:hover{
					background: $celeste400;
				}
			}
		}

		& .card-offers-packs-duos-footer{
			padding: 10px 0;
			& .card-offers-packs-duos-footer-list{
				margin: 0;
				padding: 0;
				& .card-offers-packs-duos-footer-features{
					font-size: 14px;
					font-family: $telefonica-regular;
					color: $darkblue;
					text-align: left;
					padding: 11px 16px;
					display: flex;

					& i{
						width: 20px;
						height: 12px;
						margin-right: 10px;
						align-self: center;
					}

					& strong{
						display: contents;
					}

					& .icon-card-navegation{
						&:before{
							content: $ico-card-navigation;
						}
					}

					& .icon-card-phone{
						&:before{
							content: $ico-card-phone;
						}
					}
				}
			}
		}
	}
}


/****** PACKS TRIOS *******/

.container-cards-packs-trios {
	display: flex;
	& .card-offers-packs-trios {
		margin: 20px;
		width: 272px;
		background: $white;
		border-radius: 10px;
		position: relative;

		& .card-offers-packs-trios-header {
			border-top: 4px solid $darkblue;
			border-radius: 5px 5px 0 0;

			& .card-offers-packs-trios-header-featured{
				content: 'Oferta destacada';
				position: absolute;
				padding: 7px 25px 6px;
				display: inline-block;
				background: $darkblue;
				border-radius: 0 0 11px 11px;
				margin: auto;
				right: 0px;
				left: 0;
				top: 0px;
				width: max-content;
				z-index: 1;
				font-family: $telefonica-bold;
				font-size: 12px;
				line-height: 1;
				color: $white;
			}

			& .card-offers-packs-trios-header-title {
				width: 100%;
				text-align: center;

				& h5{
					color: $gris900;
					font: 16px $telefonica-regular;
					padding: 0 15px;

					& strong{
						font-family: $telefonica-bold;
						display: block;
						font-size: 20px;
					}
				}
			}
		}

		& .card-offers-packs-trios-separate{
			padding: 0 20px;
			& .card-offers-packs-trios-separate-line{
				border-top: solid 1px $gris100;
			}
		}

		& .card-offers-packs-trios-body {
			
			padding: 20px 20px 5px 10px;
			text-align: center;

			& .lines-offers-packs-trios {
				font: 14px $telefonica-bold;
				background-color: $magenta;
				color: $white;
				line-height: 1;
				padding: 4px 6px 4px 6px;
				border-radius: 4px;
				text-align: center;
				position: absolute;
				width: fit-content;
				margin: auto;
				top: 116px;
				left: 0;
				right: 0;
			}

			& .price-offers-packs-trios {
				font: 12px $telefonica-regular;
				color: $gris900;
			}

			& .price-offers-packs-trios-mount-value{
				color: $darkblue;
				font-family: $telefonica-bold;
				font-size: 40px;

				& .price-offers-packs-trios-currency, .price-offers-packs-trios-each{
					font-family: $telefonica-regular !important;
					font-style: normal;
					font-size: 20px;
				}
				
			}
			& .btn-offers-packs-trios-apply{
				font: 14px $telefonica-regular;
				background: $celeste700;
				color: $white;
				padding: 12px 0px;
				width: 100%;
				height: 40px;
				border: none;
				border-radius: 50px;
				cursor: pointer;
				margin: 10px auto;

				&:hover{
					background: $celeste400;
				}
			}
		}

		& .card-offers-packs-trios-footer{
			padding: 10px 0;
			& .card-offers-packs-trios-footer-list{
				margin: 0;
				padding: 0;
				& .card-offers-packs-trios-footer-features{
					font-size: 14px;
					font-family: $telefonica-regular;
					color: $darkblue;
					text-align: left;
					padding: 11px 16px;
					display: flex;

					& i{
						width: 20px;
						height: 12px;
						margin-right: 10px;
						align-self: center;
					}

					& strong{
						display: contents;
					}

					& .icon-card-navegation{
						&:before{
							content: $ico-card-navigation;
						}
					}

					& .icon-card-phone{
						&:before{
							content: $ico-card-phone;
						}
					}

					& .icon-card-tv{
						&:before{
							content: $ico-card-tv;
						}
					}

					& a{
						color: $celeste700;
						display: contents;
					}
				}
			}
		}
	}
}

/****** PORTABILIDAD EQUIPO *******/

.container-port-equipment {
	display: flex;
	& .card-port-equipment {
		margin: 20px;
		width: 272px;
		background: $white;
		border-radius: 10px;
		position: relative;

		& .card-port-equipment-header {
			display: flex;
			align-items: center;
			border-top: 4px solid $darkblue;
			border-radius: 5px 5px 0 0;

			& .card-port-equipment-header-featured{
				content: 'Oferta destacada';
				position: absolute;
				padding: 7px 25px 6px;
				display: inline-block;
				background: $darkblue;
				border-radius: 0 0 11px 11px;
				margin: auto;
				right: 0px;
				left: 0;
				top: 0px;
				width: max-content;
				z-index: 1;
				font-family: $telefonica-bold;
				font-size: 12px;
				line-height: 1;
				color: $white;
			}

			& .card-port-equipment-header-title {
				width: 90%;

				& h5{
					color: $gris900;
					font: 16px $telefonica-regular;
					padding: 0 15px;

					& strong{
						font-family: $telefonica-bold;
						display: block;
						font-size: 24px;
					}
				}
			}

			& .card-port-equipment-header-plan-5g {
				& .plan-5g{
					float: right;
					width: 50px;
					height: 45px;
					background: $darkblue;
					border-radius: 11.04px 0px 0px 11.04px;

					& .plan-5g-spinner{
						background: $spinner-5g no-repeat center center;
						width: 30px;
						height: 29px;
						margin: 9px auto 8px auto;
					}
					
					
					& .plan-5g-icon{
						position: absolute;
						background: $logo-5g no-repeat center center;
						width: 23px;
						height: 23px;
						top: 45px;
						right: 13px;
					}
				}
		    }
		}

		& .card-port-equipment-body {
			
			padding: 0 20px 5px 20px;
			text-align: center;
			display: flex;

			& .card-port-equipment-body-img{
				background: url('./img/370x700_xiaomi_redmi_9_grey 1.svg') no-repeat center center;
				width: 82px;
				height: 150px;
			}

			& .card-port-equipment-body-description{
				padding: 10px;
				& .card-port-equipment-body-description-list{
					margin: 0;
					padding: 0;
					text-align: left;
					& .card-port-equipment-body-description-featured{
						display: inline-flex;
						margin-right: 5px;
						& i{
							width: 20px;
							height: 12px;
							align-self: center;
						}
						& .icon-card-capacidad{
							&:before{
								content: $ico-phone-description-capacidad;
							}
						}

						& .icon-card-pantalla{
							&:before{
								content: $ico-phone-description-pantalla;
							}
						}

						& .icon-card-camera{
							&:before{
								content: $ico-phone-description-camera;
							}
						}
					}
				}

				& .card-port-equipment-body-description-way-pay{
					padding-top: 30px;
					& .card-port-equipment-body-description-pie{
						font: 16px $telefonica-bold;
						color: $gris900;
						background: $gris200;
						width: fit-content;
						padding: 2px 6px;
					}
					& .card-port-equipment-body-description-share{
						color: $gris900;
						width: fit-content;
					}
				}
		    }
		}

		& .card-port-equipment-separation-plus{
			& .card-port-equipment-separation-line-plus{
				background: $ico-separation;
				width: 248px;
				height: 12px;
				margin: auto;
			}
		}

		& .card-port-equipment-footer{
			padding: 15px;
			& .lines-port-equipment{
				font: 14px TelefonicaWeb-Bold;
				background-color: #E63780;
				color: #fff;
				line-height: 1;
				padding: 4px 6px 4px 6px;
				border-radius: 4px;
				text-align: center;
				width: auto;
				margin: auto;
			}

			& .card-port-equipment-plan-movil {
				display: flex;
				align-items: center;

			    & h5{
					color: #313235;
					font: 16px $telefonica-regular;
					margin: 10px 0;
					width: 90%;

					& strong{
						font-family: $telefonica-bold;
						display: block;
						font-size: 20px;
					}
				}

				& .card-port-equipment-plan-movil-price{
					color: $darkblue;
					text-align: right;
					& strong{
						font-family: $telefonica-bold;
						font-size: 20px;
					}

					& .card-port-equipment-plan-movil-price-currency, & .card-port-equipment-plan-movil-price-each{
						font-family: $telefonica-regular !important;
						font-style: normal;
						font-size: 12px;
					}
				}
			}

			& .card-port-equipment-separation{
				& .card-port-equipment-separation-line{
					border-top: solid 1px $gris200;
				}
			}

			& .card-port-equipment-footer-total-price{
				color: $darkblue;
				text-align: center;

				& span{
					font-family: $telefonica-bold;
					margin-right: 5px;
				}

				& strong{
					color: $celeste700;
					font-family: $telefonica-bold;
					font-size: 30px;
				}

				& .card-port-equipment-total-price-currency, & .card-port-equipment-total-price-each{
					color: $celeste700;
					font-family: $telefonica-regular !important;
					font-style: normal;
					font-size: 12px;
				}
			}

			& .btn-port-equipment{
				font: 14px $telefonica-regular;
				background: #019DF4;
				color: #fff;
				width: 100%;
				height: 40px;
				border: none;
				border-radius: 50px;
				cursor: pointer;
				margin: auto;

				&:hover{
					background: $celeste400;
				}
			}
		}
		

		&:hover .plan-5g-icon{
			animation: blink-plan-5g 1s linear;	
		}

		@keyframes blink-plan-5g {  
			0% { opacity: 1.0; }
			50% { opacity: 0.5; }
			100% { opacity: 1.0; }
		}

		&:hover .plan-5g-spinner{
			animation: spin-plan-5g 3s linear infinite;	
		}

		@keyframes spin-plan-5g {
			0% {
			  transform: rotate(0deg);
			}
		  
			100% {
			  transform: rotate(360deg);
			}
		}
	}
}


/*********RENUEVA TU EQUIPO*********/

.container-new-equipment {
	display: flex;
	& .card-new-equipment {
		margin: 20px;
		width: 272px;
		background: $white;
		border-radius: 10px;
		position: relative;

		& .card-new-equipment-header {
			display: flex;
			align-items: center;
			border-top: 4px solid $darkblue;
			border-radius: 5px 5px 0 0;

			& .card-new-equipment-header-featured{
				content: 'Oferta destacada';
				position: absolute;
				padding: 7px 25px 6px;
				display: inline-block;
				background: $darkblue;
				border-radius: 0 0 11px 11px;
				margin: auto;
				right: 0px;
				left: 0;
				top: 0px;
				width: max-content;
				z-index: 1;
				font-family: $telefonica-bold;
				font-size: 12px;
				line-height: 1;
				color: $white;
			}

			& .card-new-equipment-header-title {
				width: 90%;

				& h5{
					color: $gris900;
					font: 16px $telefonica-regular;
					padding: 0 15px;

					& strong{
						font-family: $telefonica-bold;
						display: block;
						font-size: 24px;
					}
				}
			}

			& .card-new-equipment-header-plan-5g {
				& .plan-5g{
					float: right;
					width: 50px;
					height: 45px;
					background: $darkblue;
					border-radius: 11.04px 0px 0px 11.04px;

					& .plan-5g-spinner{
						background: $spinner-5g no-repeat center center;
						width: 30px;
						height: 29px;
						margin: 9px auto 8px auto;
					}
					
					
					& .plan-5g-icon{
						position: absolute;
						background: $logo-5g no-repeat center center;
						width: 23px;
						height: 23px;
						top: 45px;
						right: 13px;
					}
				}
		    }
		}

		& .card-new-equipment-body {
			
			padding: 0 20px 5px 20px;
			text-align: center;
			display: flex;

			& .card-new-equipment-body-img{
				background: url('./img/370x700_xiaomi_redmi_9_grey 1.svg') no-repeat center center;
				width: 82px;
				height: 150px;
			}

			& .card-new-equipment-body-description{
				padding: 10px;
				& .card-new-equipment-body-description-list{
					margin: 0;
					padding: 0;
					text-align: left;
					& .card-new-equipment-body-description-featured{
						display: inline-flex;
						margin-right: 5px;
						& i{
							width: 20px;
							height: 12px;
							align-self: center;
						}
						& .icon-card-capacidad{
							&:before{
								content: $ico-phone-description-capacidad;
							}
						}

						& .icon-card-pantalla{
							&:before{
								content: $ico-phone-description-pantalla;
							}
						}

						& .icon-card-camera{
							&:before{
								content: $ico-phone-description-camera;
							}
						}
					}
				}

				& .card-new-equipment-body-description-way-pay{
					padding-top: 30px;
					& .card-new-equipment-body-description-pie{
						font: 16px $telefonica-bold;
						color: $gris900;
						background: $gris200;
						width: fit-content;
						padding: 2px 6px;
					}
					& .card-new-equipment-body-description-share{
						color: $gris900;
						width: fit-content;
					}
				}
		    }
		}

		& .card-new-equipment-separation-plus{
			& .card-new-equipment-separation-line-plus{
				background: $ico-separation;
				width: 248px;
				height: 12px;
				margin: auto;
			}
		}

		& .card-new-equipment-footer{
			padding: 15px;
			& .lines-new-equipment{
				font: 14px TelefonicaWeb-Bold;
				background-color: #E63780;
				color: #fff;
				line-height: 1;
				padding: 4px 6px 4px 6px;
				border-radius: 4px;
				text-align: center;
				width: auto;
				margin: auto;
			}

			& .card-new-equipment-plan-movil {
				display: flex;
				align-items: center;

			    & h5{
					color: #313235;
					font: 16px $telefonica-regular;
					margin: 10px 0;
					width: 90%;

					& strong{
						font-family: $telefonica-bold;
						display: block;
						font-size: 20px;
					}
				}

				& .card-new-equipment-plan-movil-price{
					color: $darkblue;
					text-align: right;
					& strong{
						font-family: $telefonica-bold;
						font-size: 20px;
					}

					& .card-new-equipment-plan-movil-price-currency, & .card-new-equipment-plan-movil-price-each{
						font-family: $telefonica-regular !important;
						font-style: normal;
						font-size: 12px;
					}
				}
			}

			& .card-new-equipment-separation{
				& .card-new-equipment-separation-line{
					border-top: solid 1px $gris200;
				}
			}

			& .card-new-equipment-footer-total-price{
				color: $darkblue;
				text-align: center;

				& span{
					font-family: $telefonica-bold;
					margin-right: 5px;
				}

				& strong{
					color: $celeste700;
					font-family: $telefonica-bold;
					font-size: 30px;
				}

				& .card-new-equipment-total-price-currency, & .card-new-equipment-total-price-each{
					color: $celeste700;
					font-family: $telefonica-regular !important;
					font-style: normal;
					font-size: 12px;
				}
			}

			& .btn-new-equipment{
				font: 14px $telefonica-regular;
				background: #019DF4;
				color: #fff;
				width: 100%;
				height: 40px;
				border: none;
				border-radius: 50px;
				cursor: pointer;
				margin: auto;

				&:hover{
					background: $celeste400;
				}
			}
		}
		

		&:hover .plan-5g-icon{
			animation: blink-plan-5g 1s linear;	
		}

		@keyframes blink-plan-5g {  
			0% { opacity: 1.0; }
			50% { opacity: 0.5; }
			100% { opacity: 1.0; }
		}

		&:hover .plan-5g-spinner{
			animation: spin-plan-5g 3s linear infinite;	
		}

		@keyframes spin-plan-5g {
			0% {
			  transform: rotate(0deg);
			}
		  
			100% {
			  transform: rotate(360deg);
			}
		}
	}
}