$white: #fff;
$magenta : #E63780;
$darkblue : #0B2739;

$gris100 : #CED4D7;
$gris200 : #EBEBEB;
$gris900: #313235;
$celeste700: #019DF4;
$celeste400: #0A7AC9;

$mobile: 'max-width: 768px';
$minimobile: 'max-width: 320px';
$iphone: 'max-width: 414px) and (min-width: 414px';
$bigmobile: 'min-width: 481px) and (max-width: 768px';
$tablet: 'min-width: 769px) and (max-width: 991px';

$telefonica-regular: TelefonicaWeb-Regular;
$telefonica-light: TelefonicaWeb-Light;
$telefonica-bold: TelefonicaWeb-Bold;

$spinner-5g: url('./img/5g-spinner-plan-card-offers.svg');
$logo-5g: url('./img/5g-plan-card-offers.svg');
$ico-card-navigation  : url('./img/ico-card-navigation.svg');
$ico-card-discount: url('./img/ico-card-discount.svg');
$ico-card-phone: url('./img/ico-card-phone.svg');
$ico-card-mail: url('./img/ico-card-mail.svg');
$ico-card-roaming: url('./img/ico-card-roaming.svg');
$ico-card-tooltip: url('./img/ico-card-tooltip.svg');


$ico-card-check: url('./img/ico-card-check.svg');
$ico-card-tv: url('./img/ico-card-tv.svg');


$ico-phone-description-camera: url('./img/phone-description/camera-description.svg');
$ico-phone-description-capacidad: url('./img/phone-description/capacidad-description.svg');
$ico-phone-description-pantalla: url('./img/phone-description/pantalla-description.svg');

$ico-separation: url('./img/separation.svg');