$white: #fff;
$magenta : #E63780;
$darkblue : #0B2739;

$gris100 : #CED4D7;
$gris200 : #EBEBEB;
$gris900: #313235;
$celeste700: #019DF4;
$celeste400: #0A7AC9;

$mobile: 'max-width: 768px';
$minimobile: 'max-width: 320px';
$iphone: 'max-width: 414px) and (min-width: 414px';
$bigmobile: 'min-width: 481px) and (max-width: 768px';
$tablet: 'min-width: 769px) and (max-width: 991px';

$telefonica-regular: TelefonicaWeb-Regular;
$telefonica-light: TelefonicaWeb-Light;
$telefonica-bold: TelefonicaWeb-Bold;

$spinner-5g: url('./img/5g-spinner-card-v2-2022.svg');
$logo-5g: url('./img/5g-plan-card-v2-2022.svg');
$ico-card-tooltip: url('./img/ico-card-tooltip.svg');



$ico-phone-description-camera: url('./img/phone-description/camera-description.svg');
$ico-phone-description-capacidad: url('./img/phone-description/capacidad-description.svg');
$ico-phone-description-pantalla: url('./img/phone-description/pantalla-description.svg');

$ico-separation: url('./img/separation.svg');



$icon-icon-envelope: "\e910";
$icon-icon-world: "\e911";
$icon-icon-folder: "\e90f";
$icon-icon-check: "\e900";
$icon-check: "\e901";
$icon-icon-arrow: "\e902";
$icon-icon-camera: "\e903";
$icon-icon-card: "\e904";
$icon-icon-discount: "\e905";
$icon-icon-fiber: "\e906";
$icon-icon-instalacion: "\e907";
$icon-icon-monitor: "\e908";
$icon-icon-notebook: "\e909";
$icon-icon-phone: "\e90a";
$icon-icon-ransom: "\e90b";
$icon-icon-router: "\e90c";
$icon-icon-screen: "\e90d";
$icon-icon-secure: "\e90e";
$icon-icon-speed: "\e912";
$icon-icon-support: "\e913";
$icon-icon-virus: "\e914";
$icon-speed: "\e915";